.review {
  display: flex;
}

.ReviewTable table {
  margin-left: 30px;
  text-align: center;
}

.reviewItem {
  display: flex;
  flex-direction: column;
}

.review .nilaiReview {
  line-height: 1.32;
  font-size: 2.8em;
  color: #333;
  text-align: center;
  font-weight: 700;
}

.startReview {
  display: flex;
  flex-direction: column;
}

.startReview span {
  font-family: "Line Awesome Free";
  font-weight: 900;
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: 16px;
  color: #f2b827;
  position: relative;
  display: inline-block;
}

.startReview .bi {
  font-size: 19px;
  color: #f2b827;
}

.totalReview {
  margin-left: 10px;
}

.totalReview span {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  white-space: nowrap;
  line-height: 1.16;
  text-align: center;
  color: #878787;
}

.btnReview {
  border: none;
  color: white;
  width: 200px;
  height: 30px;
  background-color: #0dcaf0;
  height: 35px;
  border-radius: 5px;
}

.btnReview:hover {
  background-color: #0d97b3;
  transition: 0.5s;
}

.Line {
  background: #f2b827;
  height: 7px;
  float: left;
  position: relative;
  min-width: 180px;
  margin-left: 15px;
  width: 80px;
}

.iconTable {
  font-size: 16px;
  color: #f2b827;
}

.iconTable span {
  margin-right: 3px;
}

.iconTable .bi {
  font-size: 18px;
  color: #f2b827;
}

.reviewAngka {
  padding: 2px 3px;
  font-size: 13px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  display: inline-block;
  min-width: 25px;
  width: 100%;
  text-align: center;
  margin-left: 15px;
}

.LineMin {
  background: rgb(175, 171, 171);
  height: 7px;
  float: left;
  position: relative;
  min-width: 180px;
  margin-left: 15px;
  width: 80px;
}

.LineMinPlus {
  width: 40px;
  background-color: #f2b827;
}

.reviewCard {
  padding: 1px 16px 1px 1px;
  border-radius: 50px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;

  min-width: 80px;
  margin: 22px 0 0 14px;
  background: #fff;

  width: max-content;
}

.reviewCardItem {
  background: rgb(234, 86, 68);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;

  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
}

.reviewCardName {
  bottom: 0;
  font-size: 18px;
  font-weight: 600;
}

.IconStartReview {
  font-family: "Line Awesome Free";
  font-weight: 900;
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: 16px;
  color: #f2b827;
  position: relative;
  display: inline-block;
  margin-left: 15px;
}

.IconStartReview .bi {
  font-size: 15px;
  color: #f2b827;
}

.reviewCardComment {
  margin-top: 5px;
  margin-left: 15px;
}

.reviewCardComment p {
  font-size: 14px;
}

.reveiwDivider {
  height: 1px;
  border: 1px solid #ededed;
}

.reveiwInfo {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 15px;
}

.reveiwInfo .reviewdate h4 {
  font-size: 19px;
}

.reviewIconInfo {
  font-family: "Line Awesome Free";
  font-weight: 900;
  white-space: nowrap;
  letter-spacing: 5px;
  font-size: 16px;
  color: #f2b827;
  position: relative;
  display: inline-block;
  margin-left: 15px;
}

.reviewIconInfo .bi {
  font-size: 18px;
  color: #f2b827;
}
