.CartItemBtn {
  display: flex;
}

.CartItemBtn span {
  margin-left: 5px;
  margin-right: 5px;
}

.CartItemBtn span .bi {
  font-size: 14px;
}

.CartItemRemove .bi {
  font-size: 14px;
}

.shoppingAdd {
  display: flex;
  justify-content: space-evenly;
}

.shoppingAdd .bi {
  font-size: 14px;
}

.shopCart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopcartItem {
  display: flex;
  border-bottom: 1px solid grey;
  width: 600px;
  height: 170px;
  margin-top: 10px;
}

.shopCartDesc {
  margin-left: 10px;
}

.shopCartDesc h2 {
  font-size: 22px;
}

.shopCartDesc h3 {
  font-size: 18px;
  font-weight: 600;
}

.shopCartCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopCartCenter {
  margin-left: 50px;
}

.shopCartCenter h4 {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopCartLeft img {
  height: 150px;
  width: 150px;
}

.shopCartLeft h2 {
  font-size: 18px;
  text-align: center;
}

.shopCartCenter span button {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
}

.shopCartCenter span button .bi {
  font-size: 18px;
}

.btnRed {
  background-color: red;
  color: white;
  font-weight: 600;
}

.btnGreen {
  background-color: green;
  color: white;
  font-weight: 600;
}
.shopCartRight span .bi {
  font-size: 18px;
}

.shopCartRight {
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .shopCartLeft img {
    height: 100px;
    width: 100px;
  }
  .shopCartCenter {
    margin-left: 30px;
  }
  .shopCartDesc h2 {
    font-size: 16px;
  }
  .shopcartItem {
    height: 150px;
    width: auto;
  }
  .shopCartRight {
    margin-left: 50px;
  }
}

@media (max-width: 400px) {
  .shopCartRight {
    margin-left: 20px;
  }
  .shopCartCenter {
    margin-left: 15px;
  }
}
