.navHarga h5 {
  font-size: 19px;
  font-weight: 600;
  color: #696969;
}

.NavTitle h5 {
  font-size: 22px;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.NavTitle h5:hover {
  color: blue;
}

.jumlah {
  width: 100px;
}

.OffcanvasTitle {
  background-color: rgb(245, 245, 245);
}

.totalPrice {
  display: flex;
  justify-content: space-between;
}

.totalPrice h4 {
  font-size: 22px;
  font-weight: 500;
}

.totalPrice span {
  font-size: 22px;
  font-weight: 600;
}

.IconBuy span .bi {
  font-size: 20px;
  margin-right: 5px;
}

.IconBuy span {
  font-size: 20px;
}

.Icon1 .bi {
  font-size: 25px;
  cursor: pointer;
  color: white;
}
.Icon2 {
  margin-top: 4px;
}

.Icon2 .bi {
  font-size: 19px;
  cursor: pointer;
  color: white;
}

.Icon3 .bi {
  font-size: 22px;
  cursor: pointer;
  color: white;
}

.Icon1 .bi:hover {
  color: black;
  transition: 1s;
}

.Icon2 .bi:hover {
  color: black;
  transition: 1s;
}

.Icon3 .bi:hover {
  color: black;
  transition: 1s;
}
.NavbarList span {
  color: black;
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.NavbarList span:hover {
  border-radius: 5px;
  background-color: rgb(214, 208, 208);
}

.NavBrand {
  font-size: 22px;
  font-weight: 600;
}

.NavBottomIconPerson {
  margin-top: 4px;
  color: rgb(51, 49, 49);
  font-weight: 600;
}

.NavBottomIconPerson:hover {
  color: #0dcaf0;
  transition: 1s;
}

.NavBottomSearch {
  margin-top: 3px;
  color: rgb(51, 49, 49);
  cursor: pointer;
  font-weight: 600;
}

.NavBottomSearch:hover {
  color: #0dcaf0;
  transition: 1s;
}

.NavBottomCart {
  color: rgb(71, 71, 71);
  margin-top: 2px;
  cursor: pointer;
  font-weight: 600;
}

.NavBottomCart:hover {
  color: #0dcaf0;
  transition: 1s;
}

.NavBottomMarket {
  color: rgb(71, 71, 71);
  margin-top: 2px;
  cursor: pointer;
  font-weight: 600;
}

.NavBottomMarket:hover {
  color: #0dcaf0;
  transition: 1s;
}

.NavBottomHome {
  color: rgb(71, 71, 71);
  margin-top: 1px;
  cursor: pointer;
  font-weight: 600;
}

.NavBottomHome:hover {
  color: #0dcaf0;
  transition: 1s;
}

.navbarBottomItem {
  height: 50px;
  background-color: rgb(245, 245, 245);
  border-top: 1px solid rgb(163, 160, 160);
}
