.navbar {
  width: 100%;
  height: 60px;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  box-shadow: 0px 0px 15px -8px black;
  overflow: hidden;
}

.navbarCenter {
  display: flex;
  margin-right: 5px;
}

.navbarCenter .itemContainer span {
  cursor: pointer;
  font-size: 16px;
}

.navbarCenter .itemContainer span:hover {
  font-weight: 600;
}

.linkNav.active {
  color: white;
}

.linkNav {
  text-decoration: none;
  color: black;
}

.navbarItem {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbarLeft span {
  font-size: 25px;
}

.itemContainer {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.itemContainer .bi {
  font-size: 18px;
  margin-right: 5px;
}

.itemContainer span {
  font-size: 15px;
  font-weight: 500;
}

.navbarRight {
  display: flex;
}

.NavRightIcon span {
  padding: 0 8px;
}

.NavRightIcon span .bi {
  font-size: 25px;
}

.NavRightIcon span .bi:hover {
  color: red;
}

.modalSearch {
  display: flex;
}

.modalSearch input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
}

.modalSearch span .bi {
  font-size: 25px;
}

.modalSearch span {
  margin-left: -40px;
}

.NavRightIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn3 {
  border: none;
  background-color: brown;
  border-radius: 8px;
  margin-left: -12px;
  height: 30px;
  color: white;
  z-index: 3;
}

.navbarRight .pemalang {
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.navbarRight .pemalang span {
  width: 100%;
  height: 3px;
  background-color: black;
  transform-origin: left;
  transition: all 1s;
  display: none;
}

.navbar.active {
  background-color: blue;
  color: white;
  transition: all 1s ease;
}

.item1.active:first-child {
  background-color: white;
  transform: rotate(45deg);
}

.item2.active:nth-child(2) {
  opacity: 0;
}

.item3.active:last-child {
  background-color: white;
  transform: rotate(-45deg);
}

.navbarBottom {
  text-align: center;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px 0px 15px -8px black;
  display: none;
}

.navbarBottom span {
  padding: 18px;
}

.navbarBottom span .bi {
  font-size: 30px;
}

.navbarBottom span:hover {
  color: red;
}

.linkBottom {
  color: black;
}

/* responsive */

@media (max-width: 768px) {
  .navbarCenter {
    display: none;
  }
  .navbarLeft {
    margin-right: 30px;
  }
  .navbarBottom {
    display: block;
  }
  .navbarRight .pemalang span {
    display: block;
  }
  .NavRightIcon {
    display: none;
  }
}

@media (max-width: 468px) {
  .navbar {
    height: 50px;
  }
  .navbarItem {
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbarBottom {
    display: block;
  }
  .navRightSearch label input {
    width: 100px;
  }
  .navRightSearch {
    margin-left: -20px;
  }
}
