.CarousalItem h3 {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.CarousalItem h1 {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.Home button:hover {
  background-color: darkblue;
  transition: 0.5s;
}

h1 {
  font-weight: 700;
}

h6 {
  font-weight: 700;
}

.btn1 {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: #0dcaf0;
  color: white;
  font-weight: 700;
  border-radius: 50px;
  transition: 1s;
}

.btn1:hover {
  background-color: #109ebb;
}

.newProductHome {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btnHome button {
  width: 100%;
  border: none;
  height: 30px;
  background-color: black;
  color: white;
}

.aboutItem {
  margin-top: 55px;
}

.apple {
  background-image: url(../../Img/banner/parallax.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: 50% 50%;
}

.apple h1 {
  font-size: 4rem;
  color: white;
  font-weight: 700;
}

.apple h6 {
  font-size: 1rem;
  color: white;
  font-weight: 700;
}

.contact h1 {
  font-weight: 700;
}

.contact .h6 {
  font-size: 18px;
  font-weight: 700;
}

.Contact {
  width: 100%;
  border-radius: 5px;
  padding: 5px 9px;
  border: 1px solid grey;
}

.textarea {
  width: 100%;
  height: 100px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 9px;
}

.Product h6 {
  font-weight: 500;
  color: #f05a66;
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
}

.imgArea {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imgArea img {
  width: 100%;
  transition: 1s;
}

.imgArea img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.IconStartHome span {
  font-family: "Line Awesome Free";
  font-weight: 900;
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: 16px;
  color: #f2b827;
  position: relative;
  display: inline-block;
}

.IconStartHome .bi {
  font-size: 17px;
  color: #f2b827;
}

.Homeh6 {
  text-align: center;
}

.HomeCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.homeCardItem {
  margin: 10px;
}

.btnCardHome {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeH6 {
  text-align: center;
}

.homeContact {
  display: flex;
}

.homeLeft {
  flex: 1;
  margin: 10px;
}

.homeRight {
  flex: 3;
  margin: 10px;
}

.ContactInput {
  display: flex;
  flex-direction: column;
}

.textareaHome {
  margin-top: 10px;
}

.ContactInput input {
  width: 60%;
  height: 30px;
  padding: 0 5px;
}

.ContactInput textarea {
  width: 60%;
  height: 100px;
  padding: 0 5px;
}

.blogTitle .h1Home {
  font-size: 60px;
}

/* 
responisve */
@media (max-width: 768px) {
  .CarousalItem h3 {
    font-size: 20px;
  }
  .CarousalItem h1 {
    font-size: 25px;
  }
  .newProductHome {
    display: flex;
    flex-direction: column;
  }

  .btnHome button {
    width: 85%;
  }
}

@media (max-width: 468px) {
  .newProductHome {
    margin-left: 20px;
  }
  .HomeCard {
    grid-template-columns: repeat(1, 1fr);
  }

  .homeContact {
    flex-direction: column;
  }
  .blogTitle .h1Home {
    font-size: 40px;
  }
  .CarousalItem h3 {
    font-size: 14px;
  }
  .CarousalItem h1 {
    font-size: 19px;
  }
  .ContactInput input {
    width: 100%;
  }
  .ContactInput textarea {
    width: 100%;
  }
  .btnHome button {
    width: 95%;
  }
}

@media (max-width: 992px) {
  .newProductHome {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1140px) {
  .newProductHome {
    overflow-x: auto;
  }
}
