.Accesories {
  margin-left: 20px;
}

.Watches {
  margin-left: 20px;
}

.Clothes {
  margin-left: 20px;
}

.shoes {
  margin-left: 20px;
}

.portfolioitem1 h2 {
  font-size: 26px;
}

.portfolioitem1 h5 span:hover {
  color: #40fcda;
  cursor: pointer;
  transition: 0.7s;
}

.portfolioList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolioList ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;
}

.portfolioList ul li {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.portfolioH4 {
  font-size: 16px;
}

.portfolioH4 span:hover {
  color: blue;
  cursor: pointer;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolioList ul {
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 468px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 25px;
  }
  .blogCard h5 {
    font-size: 15px;
  }
  .portfolioH4 {
    font-size: 12px;
  }
}
