.Bottom input {
  height: 45px;
  width: 55%;
  border: 2px solid white;
  outline: none;
  background: white;
  color: black;
  margin-top: 20px;
  font-weight: 600;
}

.Bottom::placeholder {
  color: white;
}

.Bottom h5 {
  font-weight: 600;
}

.Bottom p {
  margin: 0;
}

.Bottom {
  background-color: blue;
  color: white;
}

.btn2 {
  height: 45px;
  width: 100px;
  background-color: rgb(21, 197, 21);
  margin-left: -8px;
  border: none;
  font-weight: 600;
}

.IconSosial {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.bi {
  font-size: 2.5rem;
  cursor: pointer;
  padding-right: 5pxs;
}
