html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  border: 2px solid blue;
}

.pages {
  scroll-behavior: smooth;
}

.navbarIcon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 13px;
}

.navbarIcon span {
  font-size: 15px;
}

.Link {
  color: black;
}

/* responsif */

@media (max-width: 992px) {
  html {
    font-size: 70%;
  }
  .detailProduct {
    flex-direction: column;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
  }
  .ColCard {
    padding: 20px;
  }
  .CardBlog {
    margin-top: 30px;
  }
  .reviewCol {
    padding: 10px;
  }
  .startReview {
    text-align: center;
  }
  .btnItem {
    text-align: center;
  }
  .box {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .detailProduct {
    flex-direction: column;
  }
  .reviewCol {
    padding: 10px;
  }

  .startReview {
    text-align: center;
  }
  .btnItem {
    text-align: center;
  }
  .btnToCart {
    flex-direction: column;
  }
  .review {
    flex-direction: column;
  }
  .ReviewTable table {
    text-align: center;
  }
  .navbarIcon {
    display: none;
  }
  .box {
    grid-template-columns: repeat(3, 1fr);
  }
  .cartItems {
    width: 100%;
  }
}

@media (max-width: 468px) {
  html {
    font-size: 50%;
  }

  .detailProduct {
    flex-direction: column;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
  }
  .ColCard {
    padding: 20px;
  }
  .CardBlog {
    margin-top: 30px;
  }
  .reviewCol {
    padding: 10px;
  }
  .review {
    flex-direction: column;
  }

  .startReview {
    text-align: center;
  }
  .btnItem {
    text-align: center;
  }
  .buttonAdd {
    margin-top: 20px;
    width: 200px;
  }
  .navbarIcon {
    display: none;
  }
  .box {
    grid-template-columns: repeat(2, 1fr);
  }
  .CartItemName {
    width: 100%;
  }
  .cartItemList {
    flex-direction: column;
    padding-left: 0;
  }
}
