html {
  font-size: 100%;
}

.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  border: 2px solid blue;
}

.newProductCard {
  margin: 10px;
}

.textCard {
  text-align: center;
}

/* responsif */

@media (max-width: 468px) {
  .pages {
    margin-top: 20px;
  }
}
